
<div class="container">
	<div class="row">
		<%= render 'users/sidebar', book: @book %>

		<div class="col-md-9">
			<table class="table table-striped">
				<h2>Users</h2>
				<thead>
					<tr>
						<th width="100px">Image</th>
						<th width="250px">Name</th>
						<th width="400px"></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= attachment_image_tag user, :profile_image,  format: 'jpeg', class: "", fallback: "no_image.jpg", size: "60x70"%></td>
						<td><%= user.username %></td>
						<td><%= link_to 'show', user_path(user), class: "user_#{user.id}" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>